<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DCS-Dragons-Arena/src/nl/dcs/app/BotProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nl.dcs.app.BotProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-role Dragon&#13;&#10;-id 1000&#13;&#10;-server rmi://localhost:1100/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DCS-Dragons-Arena"/>
</launchConfiguration>
